@import "./lib/external/maplibre-gl/maplibre-gl.css";
@import "./lib/external/maplibre-gl-geocoder/maplibre-gl-geocoder.css";

:root {
  --color-bg: #fff;
  --color-grey: #f8f8f8;
  --color-border: #ccc;
  --color-link: #222;
  --color-desc: #666;
  --color-basemap-tile: darkgray;
  --menu-radius: 3px;
  --menu-padding: 0.5rem 1rem;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  position: relative;
  padding: 5px;
}

.logo {
  height: 40px;
}

.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown-group {
  position: relative;
}

.menu-toggle,
.menu-link {
  border-radius: var(--menu-radius);
  cursor: pointer;
  background: none;
  border: none;
  color: var(--color-link);
  padding: var(--menu-padding);
  font-size: 1rem;
}

.menu-toggle:hover,
.menu-link:hover {
  background-color: var(--color-grey);
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: var(--menu-radius);
  z-index: 3;
  width: 300px;
}

.menu a {
  display: block;
  padding: var(--menu-padding);
}

.menu a:hover {
  background-color: var(--color-grey);
}

.menu-description {
  padding: var(--menu-padding);
  color: var(--color-desc);
  font-size: 0.95em;
  border-bottom: 1px solid var(--color-border);
}

.routing-buttons {
  display: flex;
  gap: 0.5rem;
  padding: var(--menu-padding);
  border-bottom: 1px solid var(--color-border);
}

.routing-buttons a {
  padding: 0;
}

.routing-buttons img {
  display: block;
  width: 24px;
  height: 24px;
}

.menu span,
.menu-link span {
  font-size: 0.8em;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    padding: var(--menu-padding);
    margin-left: auto;
    background-color: white;
    border: unset;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--color-bg);
    z-index: 3;
    border-bottom: 1px solid var(--color-border);
    gap: 0;
    overflow: hidden;
    align-items: stretch;
  }

  .dropdown-group {
    width: 100%;
  }

  .menu-toggle,
  .menu-link {
    width: 100%;
    text-align: left;
    border-radius: 0;
    padding: 0px;
    margin: 8px 0px 8px 8px;
  }

  .menu {
    position: static;
    width: 100%;
  }

  .menu a,
  .menu-description,
  .routing-buttons {
    padding-left: 2rem;
    border-bottom: none;
  }

  .routing-buttons {
    justify-content: flex-start;
  }

  .routing-buttons a {
    padding: 0;
  }
}

/* 
 * Basemap Switcher 
 */

.basemap-switcher-container {
  display: flex;
}

.basemap-options-container {
  display: flex;
  gap: 6px;
  margin: 0 6px;
  background-color: white;
  padding: 6px;
  border-radius: 10px;
}

.basemap-preview-image {
  display: block;
  border: 2px solid white;
  border-radius: 5px;
}

.basemap-preview-image:hover {
  filter: brightness(1.05) contrast(1.02);
}

.basemap-preview-image-selected {
  border-color: var(--color-basemap-tile);
}

.basemap-label {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.basemap-image-container {
  position: relative;
  display: inline-block;
}

.hidden {
  display: none;
}

.basemap-switcher-icon {
  background-image: url("/icons/layer.svg");
}